In [47]:
import requests
import pandas as pd

In [48]:
with open('dests.txt', 'r') as file:destinations = [line.strip() for line in file.readlines()]
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])
distance_endpoint = 'https://maps.googleapis.com/maps/api/distancematrix/json'
geocode_endpoint = 'https://maps.googleapis.com/maps/api/geocode/json'
api_key = ""

## 1.Geocode the destination to retrieve the latitude and longitud
## 2.Calculate the distance and duration from Tel Aviv to the destination
## 3.Creating times in minutes and seconds
## 4. Append the information to the dataframe

In [49]:
for destination in destinations:
    geocode_params = {
        'address': destination,
        'key':api_key
    }
    geocode_response = requests.get(geocode_endpoint, params=geocode_params).json()
    latitude = geocode_response['results'][0]['geometry']['location']['lat']
    longitude = geocode_response['results'][0]['geometry']['location']['lng']

    distance_params = {
        'origins': 'Tel Aviv',
        'destinations': destination,
        'key':api_key
    }
    distance_response = requests.get(distance_endpoint, params=distance_params).json()
    distance = distance_response['rows'][0]['elements'][0]['distance']['text']  
    duration = distance_response['rows'][0]['elements'][0]['duration']['value']
    
    duration_minutes = duration // 60
    duration_seconds = duration % 60
    
    temp_df = pd.DataFrame({
        'Target': [destination],
        'Distance_km': [distance],
        'Duration': [f"{duration_minutes} min {duration_seconds} sec"],
        'Longitude': [longitude],
        'Latitude': [latitude]
    })
    
    df = pd.concat([df, temp_df], ignore_index=True)

In [50]:
df

      Target Distance_km         Duration  Longitude   Latitude
0   Istanbul    1,815 km  1262 min 52 sec  28.978359  41.008238
1  Amsterdam    4,539 km  2890 min 19 sec   4.904139  52.367573
2   Valletta    3,793 km  3050 min 56 sec  14.514100  35.899237
3      Basel    4,093 km  2642 min 27 sec   7.588576  47.559599
4       Doha    2,164 km  1358 min 47 sec  51.531040  25.285447

In [51]:
df.sort_values("Distance_km",ascending = False).head(3)

      Target Distance_km         Duration  Longitude   Latitude
1  Amsterdam    4,539 km  2890 min 19 sec   4.904139  52.367573
3      Basel    4,093 km  2642 min 27 sec   7.588576  47.559599
2   Valletta    3,793 km  3050 min 56 sec  14.514100  35.899237