In [19]:
import requests
import pandas as pd
import math

In [4]:
with open('dests.txt', 'r') as file:destinations = [line.strip() for line in file.readlines()]
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])
distance_endpoint = 'https://maps.googleapis.com/maps/api/distancematrix/json'
geocode_endpoint = 'https://maps.googleapis.com/maps/api/geocode/json'
api_key = ""

## Creates the data frame

In [37]:
df = pd.DataFrame(columns=['Target', 'Distance_km', 'Duration', 'Longitude', 'Latitude'])

## 1.Geocode the destination to retrieve the latitude and longitud
## 2.Calculate the distance and duration from Tel Aviv to the destination
## 3.Creating times in hours and minutes
## 4. Append the information to the dataframe

In [38]:
for destination in destinations:
    geocode_params = {
        'address': destination,
        'key':api_key
    }
    geocode_response = requests.get(geocode_endpoint, params=geocode_params).json()
    latitude = geocode_response['results'][0]['geometry']['location']['lat']
    longitude = geocode_response['results'][0]['geometry']['location']['lng']

    distance_params = {
        'origins': 'Tel Aviv',
        'destinations': destination,
        'key':api_key
    }
    distance_response = requests.get(distance_endpoint, params=distance_params).json()
    distance = distance_response['rows'][0]['elements'][0]['distance']['text']  
    duration_minutes = distance_response['rows'][0]['elements'][0]['duration']['value']/60
    
    duration_hours = int(duration_minutes) // 60  
    duration_minutes = duration_minutes % 60  
    duration_minutes = math.ceil(duration_minutes)
    
    temp_df = pd.DataFrame({
        'Target': [destination],
        'Distance_km': [distance],
        'Duration': [f"{duration_hours} hour {duration_minutes} min"],
        'Longitude': [longitude],
        'Latitude': [latitude]
    })
    
    df = pd.concat([df, temp_df], ignore_index=True)

In [39]:
df

      Target Distance_km        Duration  Longitude   Latitude
0   Istanbul    1,815 km   21 hour 3 min  28.978359  41.008238
1  Amsterdam    4,533 km   48 hour 4 min   4.904139  52.367573
2   Valletta    3,793 km  50 hour 51 min  14.514100  35.899237
3      Basel    4,093 km   44 hour 3 min   7.588576  47.559599
4       Doha    2,164 km  22 hour 39 min  51.531040  25.285447

In [42]:
df_3_furthest=df.sort_values("Distance_km",ascending = False).head(3)
df_3_furthest

      Target Distance_km        Duration  Longitude   Latitude
1  Amsterdam    4,533 km   48 hour 4 min   4.904139  52.367573
3      Basel    4,093 km   44 hour 3 min   7.588576  47.559599
2   Valletta    3,793 km  50 hour 51 min  14.514100  35.899237